@model IEnumerable<Trails4Health.Models.Stage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}



<table class="table table-striped" style="margin-top:40px">
    <thead>
        <tr>
                <th>
                    Nome
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fim
                </th>
                <th>
                    Esta ativa?
                </th>
                <th>
                    Geolocalizacao
                </th>
                <th>
                    Distancia
                </th>
                <th>
                    Duracao
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageStartLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageEndLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geolocalization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) Min
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.StageId">Detalhes</a> |
                @if (item.IsActivated == true)
                {
                    <a asp-action="Delete" asp-route-id="@item.StageId">Desativar</a>
                }
                else
                {
                    <a asp-action="Delete" asp-route-id="@item.StageId">Ativar</a>

                }
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Create Nova Etapa</a>
</p>
