@model IEnumerable<Trails4Health.Models.Stage>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StageName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StageStartLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StageEndLoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geolocalization)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageStartLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageEndLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geolocalization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
