@model IEnumerable<Trails4Health.Models.Stage>

@{
    ViewData["Title"] = "Index";
}



<table class="table table-striped" style="margin-top:40px">
    <thead>
        <tr>
                <th>
                    Nome
                </th>
                <th>
                    Localizacao de inicio
                </th>
                <th>
                    Localizacao de fim
                </th>
                <th>
                    Estado do Trilho
                </th>
                <th>
                    Geolocalizacao
                </th>
                <th>
                    Distancia
                </th>
                <th>
                    Duracao
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageStartLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageEndLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActivated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geolocalization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance) km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) Min
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New Stage</a>
</p>
