@model Trails4Health.Models.ViewModels.Tourist_TrailListViewModel
@{
    ViewData["Title"] = "Check History";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<div id="checkhistory">

    @if (Model.Tourist_Trails.Count() == 0)
    {
        <h4>Não realizou nenhum percurso.</h4>
        <a href="https://localhost:44367/#trilhos">Clique aqui para ser redireciona para os trilhos disponiveis.</a>

    }
    else
    {
        @foreach (var item in Model.Tourist_Trails)
        {
            <div class="checkhistory-item">
                <div class="checkhistory-item-top">

                    <a style="float:right; margin-left: 5px;" asp-action="HistoricInformation" asp-route-id="@item.Tourist_TrailID" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                    <a style="float:right;" asp-action="AddInformation" asp-route-id="@item.Tourist_TrailID" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    <h5 style="font-weight:normal !important">@Html.DisplayFor(modelItem => item.Trail.Name)</h5> <!--  nome do trilho pelo id-->
                    <p>@Html.DisplayFor(modelItem => item.RealizationDate)</p>
                </div>
                <div class="checkhistory-item-container">
                    <table class="table-container">
                        <tr>
                            <td>
                                @if (item.Trail.TrailImage != null)
                                {
                                    <div>
                                        @{
                                            var base64 = Convert.ToBase64String(item.Trail.TrailImage);
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@imgSrc" style=" border:1px solid #021a40; width: auto; height: 165px;" />
                                        }
                                    </div>
                                            }

                            </td>
                            <td>
                                <p><b>Duração:</b> @Html.DisplayFor(modelItem => item.Duration) min</p>
                                <p><b>Observações:</b> @Html.DisplayFor(modelItem => item.Observations)</p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

         }


        <div class="pagination">
            @{
                var numPages = Model.PagingInfo.TotalPages;
                for (int @p = 1; p <= numPages; p++)
                {
                    if (@Model.currentUrl.ToString().Contains("?page=" + @p) || @Model.currentUrl.ToString() == "" && p == 1)
                    {
                        <a class="active" id="paginacao-@p" href="/Tourist_Trail/CheckHistoric/?page=@p">@p</a>
                    }
                    else
                    {
                        <a class="" id="paginacao-@p" href="/Tourist_Trail/CheckHistoric/?page=@p">@p</a>

                    }
                }
                @* <p>URL: @Model.currentUrl.ToString()</p> *@
            }
        </div>

        }

</div>