@model Trails4Health.Models.ViewModels.Tourist_TrailInformationViewModel

@{
    ViewData["Title"] = "HistoricInformation";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h4 class="titles" style="text-align:left;">@Html.DisplayFor(model => model.Tourist_Trail.Trail.Name)</h4> <!--Trail Name-->
            <br />

            <p style="font-weight: bold; font-size: 16px; margin-bottom:25px;">Os Seus Detalhes (Utilizador vs. Trilho)</p>


            <div class="historic-information">

                @{
                    int totalTime = 0;
                    double total = 0, difficulty = 0;
                    string outcome = "";
                    if (Model.Stages_Trail.Count() != 0)
                    {
                        foreach (var item in Model.Stages_Trail)
                        {
                            total = item.StageDifficulty + total;
                            totalTime = item.Stage.Duration + totalTime;
                        }
                        difficulty = total / Model.Stages_Trail.Count();
                        if (difficulty > 0 && difficulty <= 1)
                        {
                            outcome = "Fácil";
                        }
                        else if (difficulty > 1 && difficulty <= 2)
                        {
                            outcome = "Normal";
                        }
                        else if (difficulty > 2 && difficulty <= 3)
                        {
                            outcome = "Difícil";

                        }
                        else if (difficulty > 3 && difficulty <= 4)
                        {
                            outcome = "Muito Difícil";
                        }
                    }

                }



                <div class="col-md-4">
                    <div class="info-item">
                        <i class="icon-lg icon-color1"><img src="~/images/time.svg" style="width:auto; height:70px; padding-top:15px;padding-left:0px;" /></i>
                        <p style="font-size: 14pt;margin-top:-5px;">@Html.DisplayFor(model => model.Tourist_Trail.Duration) min vs. @totalTime min</p> <!--Time Tkane -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <i class="icon-lg icon-color1"><img src="~/images/difficulty.png" style="width:auto; height:70px; padding-top:20px;padding-left:0px;" /></i>
                        <p  style="font-size: 14pt;margin-top:-5px;">@Html.DisplayFor(model => model.Tourist_Trail.Difficulty.Level) vs. @outcome </p>
                    </div>
                </div>

                <div class="col-md-12 text-align-left" style="margin-bottom:20px; margin-top: 10px;">
                    <p style="font-weight: bold; font-size: 16px; text-align: left;">Observações</p>
                    <p style="text-align: justify;
                              text-justify: inter-word;">
                        @Html.DisplayFor(model => model.Tourist_Trail.Observations)
                    </p> <!--Observations-->
                </div>

            </div>
            <div style="margin-top: 255px;"></div>
            <p style="font-weight: bold; font-size: 16px; float:left;">Etapas do Trilho</p>
            <div class="historic-information-stages">

                <br />

                @if (Model.Stages_Trail.Count() == 0)
                {
                    <p style="height:25px;"></p>
                    <p>Não existem etapas associadas a este trilho.</p>
                }
                else
                {


                    <table class="table table-hover" id="dev-table">
                        <thead>

                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Local Inicio</th>
                                <th>Local Fim</th>
                                <th>Distância (km)</th>
                                <th>Duração (min)</th>
                            </tr>
                        </thead>
                        <tbody>

                            @{


                                for (int size = Model.Stages_Trail.Count() - 1; size >= 0; size--)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@Model.Stages_Trail.ElementAt(size).Stage.StageName</td>
                                        <td>@Model.Stages_Trail.ElementAt(size).Stage.StageStartLoc</td>
                                        <td>@Model.Stages_Trail.ElementAt(size).Stage.StageEndLoc</td>
                                        <td>@Model.Stages_Trail.ElementAt(size).Stage.Distance</td>
                                        <td>@Model.Stages_Trail.ElementAt(size).Stage.Duration</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                                }
            </div>





        </div>
    </div>
</div>