@model Trails4Health.Models.Trail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<div style="margin-top:30px">
    <h4>Detalhes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Duracao:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration) Min
        </dd>
        <dt>
            Distancia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DistanceToTravel) Km
        </dd>
        <dt>
            Inicio:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartLoc)
        </dd>
        <dt>
            Fim:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndLoc)
        </dd>
        <dt>
            Epoca Aconselhada:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Season.SeasonName)
        </dd>
        <dt>
            Desnivel:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slope.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrailID" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-primary">Voltar ao Gestao de Trilhos</a>
</div>
