@model IEnumerable<Trails4Health.Models.Trail>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}


<table class="table table-striped" style="margin-top:40px">
    <thead>
        <tr>
                <th>
                    Nome
                </th>
                <th>
                    Duracao
                </th>
                <th>
                    Distancia
                </th>
                <th>
                    Inicio
                </th>
                <th>
                    Fim
                </th>
            <th>
                Epoca aconselhada
            </th>
            <th>
                Desnivel
            </th>
            <th>
                Estado:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration) Min
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceToTravel) Km
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.SeasonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slope.Type)
            </td>

            <td>
                <a asp-action="Edit"  asp-route-id="@item.TrailID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TrailID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TrailID">Desativar</a> |
                <a asp-action="EditTrailStatus" asp-route-id="@item.TrailID">Editar Estado</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-primary">Criar novo trilho</a>
</p>
