@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Identity
@using Trails4Health.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trails4Health</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css" />

        <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/linearicons.css" />
        <link rel="stylesheet" href="~/css/iconmoon.css" />
        <link rel="stylesheet" href="~/css/animat/animate.min.css" />
        <link rel="stylesheet" href="~/css/fancybox/jquery.fancybox.css" />
        <link rel="stylesheet" href="~/css/nivo-lightbox/nivo-lightbox.css" />
        <link rel="stylesheet" href="~/css/themes/default/default.css" />
        <link rel="stylesheet" href="~/css/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="~/css/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" href="~/css/owl-carousel/owl.transitions.css">

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <script type="text/javascript" src="~/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="~/js/script.js"></script>
        <script type="text/javascript" src="~/js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/js/fancybox/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="~/js/nivo-lightbox/nivo-lightbox.min.js"></script>
        <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.min.js"></script>

        <script type="text/javascript" src="js/jquery-easing/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="js/wow/wow.min.js"></script>

        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/css/responsive.css" />
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    <div class='preloader'><div class='loaded'>&nbsp;</div></div>
    <header id="home" class="header">
        <div class="main_menu_bg navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a href="#home" class="navbar-brand">
                                        <div class="logo">
                                            <img src="~/images/logo_trails4health.png" alt="Logo" style="margin-top:-25px";/>
                                        </div>
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="#home"><b>Home</b></a></li>
                                        <li><a href="#sobre"><b>Sobre</b></a></li>
                                        <li><a href="#trilhos"><b>Trilhos</b></a></li>
                                        <li><a href="#contacto"><b>Contactos</b></a></li>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li><a asp-controller="Account" asp-action="MemberArea"><b>Painel de Utilizador</b></a></li>
                                            <li>
                                                <form asp-controller="Account" asp-action="Logout" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" style="padding-top:13px;">
                                                    <input type="image" style="cursor: pointer;" id="logoutBtn" class="info-item" src="~/images/icons/logout_white.png" widht="20" height="20" />
                                                </form>
                                            </li>

                                        }
                                        else
                                        {
                                            <li><a asp-controller="Account" asp-action="Login"><b>Login</b></a></li>
                                            
                                        }



                                    </ul>

                                   <!-- @@await Html.PartialAsync("_LoginPartial") -->
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!--End of row -->

            </div><!--End of container -->

        </div>
    </header> <!--End of header -->
    <div>
        @RenderBody()
        <hr />
        <!--  <footer style="text-align:center;">
              <p>&copy; 2017 - Trails4Health</p>
          </footer>-->
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
