@model Trails4Health.Models.Historic

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Historic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeTaken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeTaken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty.Level)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealizationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RealizationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tourist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tourist.TouristID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Trail.EndLoc)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
