@model Trails4Health.Models.ViewModels.HistoricInformationViewModel

@{
    ViewData["Title"] = "HistoricInformation";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h5>@Html.DisplayFor(model => model.Historic.Trail.Name)</h5> <!--Trail Name-->
            <br />

            <p style="font-weight: bold; font-size: 14px;">Detalhes (Trilho vs Utilizador)</p>


            <div class="historic-information">

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/feedback.png" width="85" height="85" />
                        <p>Agradável</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/time.svg" width="85" height="85" />
                        <p>@Html.DisplayFor(model => model.Historic.TimeTaken) vs. @Html.DisplayFor(model => model.Historic.Trail.Duration) </p> <!--Time Tkane -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-item">
                        <img src="~/images/difficulty.png" width="85" height="85" />
                        <p> @Html.DisplayFor(model => model.Historic.Trail.Difficulty.Level) vs. @Html.DisplayFor(model => model.Historic.Difficulty.Level)  </p>
                    </div>
                </div>

                <div class="col-md-12 text-align-left">
                    <p style="font-weight: bold; font-size: 14px; text-align: left;">Observações</p>
                    <p style="text-align: justify;
                              text-justify: inter-word;">
                        @Html.DisplayFor(model => model.Historic.Observations)
                    </p> <!--Observations-->
                </div>

            </div>
            <div style="margin-top: 250px;"></div>
            <p style="font-weight: bold; font-size: 14px; float:left;">Etapas do Trilho</p>
            <div class="historic-information-stages">

                <br />

                @if (Model.Stages_Trail.Count() == 0)
                {
                    <p></p>
                    <p>Não existem etapas associadas a este trilho.</p>
                }
                else
                {


                    <table class="table table-hover" id="dev-table">
                        <thead>

                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Local Inicio</th>
                                <th>Local Fim</th>
                                <th>Distância (km)</th>
                                <th>Duração (min)</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model.Stages_Trail)
                            {
                                <tr>
                                    <td></td>
                                    <td>Etapa A</td>
                                    <td>A @item.Stage.StageStartLoc</td>
                                    <td>B @item.Stage.StageEndLoc</td>
                                    <td>30</td>
                                    <td>120</td>
                                </tr>
                            }



                        </tbody>
                    </table>
                }
            </div>





        </div>
    </div>
</div>