@model IEnumerable<Trails4Health.Models.Historic>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMembersArea.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TimeTaken)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observations)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RealizationDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Tourist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealizationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tourist.TouristID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trail.EndLoc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
