@model TrailsListViewModel
@{
    ViewData["Title"] = "Trails Management";
}

<table class="table table-striped" style="margin-top:100px;">
    <thead>
        <tr>
            <th>Name</th>
            <th>AverageDuration</th>
            <th>DistanceToTravel</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>RecommendedTime</th>
            <th>Is_Activated</th>
            <th>ID_Difficulty</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Trail t in Model.Trails)
        {
            <tr>
                <td>@t.Name</td>
                <td>@t.Duration</td>
                <td>@t.DistanceToTravel</td>
                <td>@t.StartLoc</td>
                <td>@t.EndLoc</td>
                <td>@t.IDSeason</td>
                <td>@t.IsActivated</td>
                <td>@t.IDDifficulty</td>


            </tr>

        }
    </tbody>
</table>